footer.text-center
  .container
    p
      strong.big Diego Rodríguez Suárez-Bustillo
    .text-center
      a(href='https://github.com/RodriBus', target='_blank')
        i.fa.fa-github-square.fa-lg
      a(href='https://www.linkedin.com/in/rodribus', target='_blank')
        i.fa.fa-linkedin-square.fa-lg
    p
      | Soto Del Real • Madrid
      br
      | 2015
    p
      a.mail-link.mail-full(href='nolink', target='_blank')
