footer.text-center
  .container
    p
      strong.big #{$i18n.common.fullname}
    .text-center
      a(href='https://github.com/RodriBus', target='_blank', title=$i18n.landing.links.github)
        i.fa.fa-github-square.fa-lg
      a(href='https://www.linkedin.com/in/rodribus', target='_blank', title=$i18n.landing.links.linkedin)
        i.fa.fa-linkedin-square.fa-lg
    p
      | #{$i18n.common.location}
      br
      | 2018
    p
      a.mail-link.mail-full(target='_blank')
