@{
    var author = ViewData["Author"] as Author;
}

<header class="dark header">
    <div class="container">
        <div class="row" id="bio">
            <div class="col-md-2 hidden-sm hidden-xs text-center">
                <a href="/" title="title">
                    <div class="biopic"></div>
                </a>
            </div>
            <div class="col-md-10 hidden-sm hidden-xs text-left val-mid">
                @Html.Raw(await author.RenderBioAsync())
            </div>
            <div class="col-sm-12 col-xs-12 hidden-lg hidden-md text-center">
                <a href="/" title="title">
                    <div class="biopic"></div>
                </a>
            </div>
            <div class="col-sm-12 col-xs-12 hidden-lg hidden-md">
                @Html.Raw(await author.RenderBioAsync())
            </div>
        </div>
    </div>
</header>
<div class="dark">
    @Html.Partial("_Partials/_navbar")
</div>