/*Buttons*/

$btn-blue-color: lighten($black, 30%);
$btn-blue-color-hover: $white;
.btn.btn-blue {
    color: $btn-blue-color;
    background-color: transparent;
    border-color: $btn-blue-color;
}

.btn-blue:hover {
    color: $btn-blue-color-hover;
    background-color: $btn-blue-color;
    border-color: $btn-blue-color;
}

.btn-blue.active,
.btn-blue:active,
.open>.dropdown-toggle.btn-blue {
    color: $btn-blue-color-hover;
    background-color: $btn-blue-color;
    border-color: $btn-blue-color;
}

.btn-blue.focus,
.btn-blue:focus {
    color: $btn-blue-color-hover;
    background-color: $btn-blue-color;
    border-color: $btn-blue-color;
}
