/*BACKGROUNDS*/

@mixin bgcolor($color) {
    background-color: $color !important;
    >.container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

@mixin upper($up) {
    @if $up==true {
        text-transform: uppercase;
    }
    @else {
        text-transform: none;
    }
}
