// DRACULA

$background_dracula: #282a36;
$comment_dracula: #6272a4;
$selection_dracula: #44475a;
$foreground_dracula: #f8f8f2;
$purple_dracula: #bd93f9;
$green_dracula: #50fa7b;
$orange_dracula: #ffb86c;
$pink_dracula: #ff79c6;
$cyan_dracula: #8be9fd;
$yellow_dracula: #f1fa8c;
$red_dracula: #ff5555;