@{
    Layout = "Shared/_Layout-Landing";
}
<div class="bg-white">
    <div class="container">
        <div class="row text-center">
            <div class="jumbotron rounded">
                <h1 class="section-title" style="margin-bottom: 0">
                    <span class="i-block">DIEGO RODRÍGUEZ<i class="line"></i></span>
                </h1>
                <h2 style="margin: 0">
                    <span class="i-block">Web Developer</span>
                </h2>
                <h3 class="section-title color-gray submenu">
                    <span>
                        <a href="/cv.html" data-toggle="tooltip" data-placement="bottom" title="Datos de interés">Currículum</a>
                        <span class="hidden-xs">·</span>
                        <a href="/portfolio.html" data-toggle="tooltip" data-placement="bottom" title="Trabajos realizados">Portfolio</a>
                    </span>
                </h3>
                <div class="text-center">
                    <a href="https://github.com/RodriBus" target="_blank" title="Perfil en GitHub"><i class="fa fa-github-square fa-3x"></i></a>
                    <a href="https://www.linkedin.com/in/rodribus" target="_blank" title="Perfil en LinkedIn"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    <a class="mail-link" target="_blank" href="" title="Email"><i class="fa fa-envelope-square fa-3x"></i></a>
                </div>
                <div class="text-center">
                    <a target="_self" href="" data-toggle="tooltip" data-placement="bottom" title="Go to english version"><i class="fa fa-globe fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>