.biopic {
    width: $biopic-size;
    height: $biopic-size;
    @include border-radius($biopic-size/2);
    background: url(../../images/biopic.jpg) no-repeat top;
    background-size: 100%;
    /*display: inline-block;*/
    box-shadow: 0px 0px 0px $biopic-gap $biopick-gap-color, 0px 0px 0px $biopic-gap+$biopic-border-size $biopic-border-color;
    margin: $biopic-gap+$biopic-border-size+5 auto;
}

#bio {
    padding-top: 15px;
    padding-bottom: 5px;
}

.main-desc {
    margin-left: 30px;
}

/*All cols same height*/

#bio.row {
    display: table;
}

#bio [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

#bio [class*="hidden-lg"],
#bio [class*="hidden-md"] {
    display: block;
}
