main.home {
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: $gray;
        padding: 5px;
        display: inline-block;
        margin-bottom: 10px;
        text-decoration: none !important;
        transition: 0.25s;
    }
    a:hover {
        @include bgcolor(transparent);
        color: $blue;
    }
    .submenu a {
        border: 2px solid transparent;
        @include border-radius(5px);
    }
    .submenu a:hover {
        border: 2px solid $blue;
    }
}
